frontend/node_modules
.vscode/*

backend/HELP.md
backend/target/
backend/.mvn/
backend/src/main/**/target/
backend/src/test/**/target/

### STS ###
**/.apt_generated
**/.classpath
**/.factorypath
**/.project
**/.settings
**/.springBeans
**/.sts4-cache

### IntelliJ IDEA ###
**/.idea
**/*.iws
**/*.iml
**/*.ipr
